In [6]:
import sys
import pandas as pd
import matplotlib as plt
from datetime import date, datetime, timedelta

import config as cfg
from SE_Interface import *

In [7]:
se_interface = SE_Interface()

now = datetime(year=2021, month=8, day=15, hour=23)
data =  se_interface.request_SitePowerDetailed(now, timedelta(days=2))
data

Requesting: https://monitoringapi.solaredge.com/site/2130766/powerDetails?meters=Consumption,Production&startTime=2021-08-13 23:00:00&endTime=2021-08-15 23:00:00&api_key=NTT5LNJGA5CDCFI9OZGZCX2W1VD3CCW2

                     Production  Consumption
date
2021-08-13 23:00:00   871.66670    880.91580
2021-08-13 23:15:00   868.66670    873.25183
2021-08-13 23:30:00   802.66670    810.37335
2021-08-13 23:45:00   899.66670    910.02637
2021-08-14 00:00:00   505.66666    520.35657
...                         ...          ...
2021-08-15 21:45:00   569.33330    603.91800
2021-08-15 22:00:00   519.75000    516.80536
2021-08-15 22:15:00   606.00000    613.05110
2021-08-15 22:30:00   629.33330    653.28235
2021-08-15 22:45:00   672.00000    685.37024

[192 rows x 2 columns]

In [27]:
plt.plot(data["Production"])


for label in plt.ax.xaxis.get_ticklabels()[::2]:
    label.set_visible(False)

871.6667

871.6667